<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="
      http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
      http://code.alibabatech.com/schema/dubbo
      http://code.alibabatech.com/schema/dubbo/dubbo.xsd
      ">

	<!-- 提供方应用信息，用于计算依赖关系 -->
	<dubbo:application name="${module-one-artifactId}" />

	<!-- 使用multicast广播注册中心暴露服务地址 -->
	<!-- <dubbo:registry address="redis://172.16.120.112:6379" /> -->
	<dubbo:registry address="zookeeper://172.16.120.16:2181" />
	<!-- 用dubbo协议在14001端口暴露服务 -->
	<dubbo:protocol name="dubbo" port="14001" />

	<!-- 声明需要暴露的服务接口 -->
	<dubbo:service interface="${package}.api.interfaces.UserInfoInterface" ref="userServiceApi" executes="100" timeout="600000" retries="0"/>
	
	<bean id="userServiceApi" class="${package}.management.UserInfoInterfaceImpl" />

</beans>
